autopep8==2.0.0
BTrees==4.11.0
cffi==1.15.1
click==8.0.4
dparse==0.6.2
Flask==2.0.3
Flask-Cors==3.0.10
gunicorn==20.1.0
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.1
packaging==21.3
persistent==4.9.2
pycodestyle==2.9.1
pycparser==2.21
pyparsing==3.0.9
six==1.16.0
smartcard==0.3
swig==4.1.0
toml==0.10.2
tomli==2.0.1
transaction==3.0.1
Werkzeug==2.0.3
zc.lockfile==2.0
ZConfig==3.6.0
ZODB==5.7.0
zodbpickle==2.5
zope.interface==5.5.1
